/.gekkoaot/
/build/
/build-*/
/cmake-build-*/
/bin/
/compile_commands.json
/CMakeUserPresets.json
*.iso
*.gcm
*.wbfs
*.rvz
*.wia
*.gcz
*.profraw
*.profdata
.DS_Store
/.vs/
/.vscode/
/.idea/
debug/
Thumbs.db
Desktop.ini
/stage/
/package/
/dist/
/.deps/
GekkoAOT-v*-Linux-*.tar.gz
GekkoAOT-v*-Linux-*.tar.gz.sha256
GekkoAOT-v*-Windows-*.zip
GekkoAOT-v*-Windows-*.zip.sha256
__pycache__/
*.pyc
